/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css'; 
@import '~quill/dist/quill.snow.css';

body {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 29, 34);
  color: whitesmoke;
}